<div class="tab-component">

  <span class="tab-group">
    <div (click)="onTabChange('overview')" [ngClass]="selected == 'overview' ? 'selected' : ''"
         class="tab">Overview</div>
    <div (click)="onTabChange('demographics')" [ngClass]="selected == 'demographics' ? 'selected' : ''" class="tab">Demographics</div>
    <div (click)="onTabChange('encounters')" [ngClass]="selected == 'encounters' ? 'selected' : ''" class="tab">Encounters</div>
    <div (click)="onTabChange('medications')" [ngClass]="selected == 'medications' ? 'selected' : ''" class="tab">Medications</div>
    <div (click)="onTabChange('documents')" [ngClass]="selected == 'documents' ? 'selected' : ''"
         class="tab">Documents</div>
  </span>
    <span class="tab-group current-encounter">
    <div (click)="onTabChange('current-encounter')" [ngClass]="selected == 'current-encounter' ? 'selected' : ''"
         class="tab ">{{ encounterStarted ? 'Ongoing' : 'New encounter' }}</div>
  </span>
</div>
