@use '../../../../styles/variables' as *;

::ng-deep .auth-host-wrapper {
  flex: 1;
}

.background-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-size: cover;
}

.background-container:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url('/assets/Introduction.jpg');
  background-attachment: fixed;
  background-size: cover;
  filter: blur(2px);
}

.border-container-left {
  position: absolute;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0;
  height: 80%;
  min-height: 500px;
  margin: auto 0 auto 17.5%;
  border: 7px $dark-dark-blue;
  border-style: solid none solid solid;
  border-radius: 50px 0 0 50px;
}

.border-container-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  height: 80%;
  min-height: 500px;
  margin: auto 17.5% auto 0;
  border: 7px $dark-dark-blue;
  border-style: solid solid solid none;
  border-radius: 0 50px 50px 0;
}

.left-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 50%;
  transition: all 0.6s ease-in-out;
}

.left-color-container {
  position: relative;
  z-index: 1;
  height: 80%;
  min-height: 500px;
  margin: auto 0 auto 35%;
  box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.6s ease-in-out;
  border: 7px $dark-dark-blue;
  border-style: solid none solid solid;
  border-radius: 50px 0 0 50px;
  background-color: $background-blue;

}

.right-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 50%;
  transition: all 0.6s ease-in-out;
}

.right-color-container {
  z-index: 1;
  overflow: hidden;
  height: 80%;
  min-height: 500px;
  margin: auto 35% auto 0;
  box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.39);
  transition: all 0.6s ease-in-out;
  border: 7px transparent;
  border-style: solid solid solid none;
  border-radius: 0 50px 50px 0;
}

.image-container {
  z-index: 1;
  width: 300%;
  height: 100%;
  content: '';
  transition: all 0.6s ease-in-out;
  transform: translate(-38%);
  background-image: url('/assets/Introduction.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.active-sign-up .right-container .right-color-container {
  box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.39);
  transform: translate(-100%);
  border-style: solid none solid solid;
  border-radius: 50px 0 0 50px;

  .image-container {
    transform: translate(-13%);
  }
}

.active-sign-up .left-container .left-color-container {
  box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.39);
  transform: translate(100%);
  animation-name: slidein;
  animation-duration: 1s;
  border-style: solid solid solid none;
  border-radius: 0 50px 50px 0;

  .image-container {
    transform: translate(100%);
  }
}

.left-container .left-color-container:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  border-radius: 50px;
  background-color: transparent;
}

.active-sign-up .left-container .left-color-container:before {
  z-index: 0;
  animation-name: slide-before;
  animation-duration: 1s;
  background-color: transparent;

}


@keyframes slidein {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes slide-before {
  0% {
    z-index: 2;
    background-color: #aabcc6;
  }

  100% {
    background-color: #aabcc6;
  }
}
