<h2 mat-dialog-title>Manage conditions</h2>
<mat-dialog-content>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" class="tabs">
        <mat-tab label="Active">
            <div class="active-medications">
                <app-medications-overview [type]="'EDIT'" [id]="id"></app-medications-overview>
            </div></mat-tab>
        <mat-tab label="History">
            <div class="medication-history">
                <app-medications-overview [type]="'HISTORY'"></app-medications-overview>
            </div></mat-tab>
    </mat-tab-group>
    <div class="new-medication-form" [formGroup]="form">
        <h3>New Condition</h3>
        <mat-form-field  appearance="fill" >
            <mat-label>Condition</mat-label>
            <input type="text" [formControl]="conditionCtrl" matInput>
        </mat-form-field>
        <button (click)="onAdd()" mat-raised-button>Add</button>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button cdkFocusInitial mat-dialog-close mat-raised-button >Cancel</button>
</mat-dialog-actions>
