<h2 mat-dialog-title>Access Request</h2>
<mat-dialog-content>
    <div class="practitioner-info">
        <div *ngIf="role === 'ROLE_PRACTITIONER'" [ngStyle]="{'background-image': 'url(\'data:image/png;base64, ' + request.patientImage + '\')'}"
             class="avatar-image"
             mat-card-avatar>
        </div>
        <div *ngIf="role === 'ROLE_PATIENT'" [ngStyle]="{'background-image': 'url(\'data:image/png;base64, ' + request.practitionerImage + '\')'}"
             class="avatar-image"
             mat-card-avatar>
        </div>
        <div>
            <div *ngIf="role === 'ROLE_PRACTITIONER'">{{ request.patient }}</div>
            <div *ngIf="role === 'ROLE_PATIENT'">{{ request.practitioner }}</div>
            <div *ngIf="role === 'ROLE_PATIENT'">{{ request.specialty }}</div>
        </div>
        <div class="decision-symbol">
      <span *ngIf="request.decision == DecisionEnum.UNDEFINED"
            class="material-symbols-outlined stats">pending_actions</span>
            <span *ngIf="request.decision == DecisionEnum.UNLIMITED"
                  class="material-symbols-outlined stats">check_circle</span>
            <span *ngIf="request.decision == DecisionEnum.ONE_TIME"
                  class="material-symbols-outlined stats">check_circle</span>
            <span *ngIf="request.decision == DecisionEnum.CUSTOM"
                  class="material-symbols-outlined stats">check_circle</span>
            <span *ngIf="request.decision == DecisionEnum.NO_ACCESS"
                  class="material-symbols-outlined stats">do_not_disturb_on</span>
        </div>
    </div>
    <div *ngIf="role != 'ROLE_PATIENT'; else decisionForm" class="request-info">
        <div class="item">Access: <span class="decision">{{ decisionMapping[request.decision] }}</span></div>
        <div class="item">Time: <span>{{ request.lastUpdated | date: "MMM dd, yyyy HH:mm" }}</span></div>
        <div *ngIf="request.decision == DecisionEnum.ONE_TIME || request.decision == DecisionEnum.CUSTOM" class="item">
            Available Form: <span>{{ request.availableFrom | date: "MMM dd, yyyy HH:mm" }}</span></div>
        <div *ngIf="request.decision == DecisionEnum.ONE_TIME || request.decision == DecisionEnum.CUSTOM" class="item">
            Available Until: <span>{{ request.availableUntil | date: "MMM dd, yyyy HH:mm" }}</span></div>
    </div>
    <ng-template #decisionForm [formGroup]="decisionFormGroup" class="request-info">
        <div class="item">Time: <span>{{ request.lastUpdated | date: "MMM dd, yyyy HH:mm" }}</span></div>
        <span *ngIf="role === 'ROLE_PATIENT'">
      <div class="item">
        <mat-form-field appearance="fill" class="update-info">
          <mat-label>Access decision</mat-label>
          <span class="material-symbols-outlined" matPrefix>approval</span>
          <mat-select [formControl]="decisionCtrl">
            <mat-option *ngFor="let decision of decisionKeys" [id]="decision" [value]="decision">
              {{ decisionMapping[decision] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="decisionCtrl.value == DecisionEnum.ONE_TIME || decisionCtrl.value == DecisionEnum.CUSTOM"
           class="item">
        <mat-form-field appearance="fill" class="update-info">
          <mat-label>Available From</mat-label>
          <span class="material-symbols-outlined" matPrefix>schedule</span>
          <input [formControl]="availableFromCtrl" [matDatepicker]="availableFromPicker" matInput>
          <mat-datepicker-toggle [for]="availableFromPicker" matIconSuffix></mat-datepicker-toggle>
          <mat-datepicker #availableFromPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div *ngIf="decisionCtrl.value == DecisionEnum.ONE_TIME || decisionCtrl.value == DecisionEnum.CUSTOM"
           class="item">
        <mat-form-field appearance="fill" class="update-info">
          <mat-label>Available Until</mat-label>
          <span class="material-symbols-outlined" matPrefix>schedule</span>
          <input [formControl]="availableUntilCtrl" [matDatepicker]="availableUntilPicker" matInput>
          <mat-datepicker-toggle [for]="availableUntilPicker" matIconSuffix></mat-datepicker-toggle>
          <mat-datepicker #availableUntilPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </span>
    </ng-template>
    <div class="request-history">
        <h4>History</h4>
        <div class="table-div">

            <table [dataSource]="history" [multiTemplateDataRows]="true" class="mat-elevation-z8 no-color" mat-table>

                <!-- Decision Column -->
                <ng-container matColumnDef="decision">
                    <th *matHeaderCellDef mat-header-cell>Decision</th>
                    <td *matCellDef="let historyReq" class="decision" mat-cell>
                        <div class="history-decision-td">
                <span *ngIf="historyReq.decision == DecisionEnum.UNDEFINED"
                      class="material-symbols-outlined">pending_actions</span>
                            <span *ngIf="historyReq.decision == DecisionEnum.UNLIMITED"
                                  class="material-symbols-outlined">all_inclusive</span>
                            <span *ngIf="historyReq.decision == DecisionEnum.ONE_TIME"
                                  class="material-symbols-outlined">device_reset</span>
                            <span *ngIf="historyReq.decision == DecisionEnum.CUSTOM" class="material-symbols-outlined">check_circle</span>
                            <span *ngIf="historyReq.decision == DecisionEnum.NO_ACCESS"
                                  class="material-symbols-outlined">do_not_disturb_on</span>
                            <span>{{ DecisionEnumLabelMapping[historyReq.decision] }}</span>
                        </div>
                    </td>
                </ng-container>

                <!-- Date Column -->
                <ng-container matColumnDef="date">
                    <th *matHeaderCellDef mat-header-cell> Date</th>
                    <td *matCellDef="let historyReq" mat-cell>{{ historyReq.lastUpdated | date: "MMM dd, yyyy" }}</td>
                </ng-container>

                <!-- Time Column -->
                <ng-container matColumnDef="time">
                    <th *matHeaderCellDef mat-header-cell> Time</th>
                    <td *matCellDef="let historyReq" mat-cell>{{ historyReq.lastUpdated | date: "HH:mm" }}</td>
                </ng-container>

                <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
                <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
            </table>
        </div>
        <mat-progress-bar *ngIf="loadingHistory" mode="buffer"></mat-progress-bar>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button *ngIf="!loading" cdkFocusInitial mat-dialog-close mat-raised-button>Cancel</button>
    <button (click)="onResend()" *ngIf="role === 'ROLE_PRACTITIONER' && this.request.decision == DecisionEnum.NO_ACCESS && !loading" color="primary"
            mat-raised-button>Resend
        request
    </button>
    <button (click)="onSave()" *ngIf="role === 'ROLE_PATIENT' && !loading" color="primary" mat-raised-button>Save
    </button>
    <mat-progress-bar *ngIf="loading" mode="buffer"></mat-progress-bar>
</mat-dialog-actions>
