@use '../../../../../../styles/variables' as *;

::ng-deep .medications-overview-host-wrapper {
  display: flex;
  overflow: auto;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  padding: 25px;
  border-radius: 10px;
  background-color: #fff;
  height: 100%;
}


.medications-list {
  display: flex;
  overflow: auto;
  flex-direction: column;
  gap: 1rem;
}

.medication-container {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  padding: 5px;
}

.updated{
  background-color: #ffedd8;
}

.medication-name {
  font-weight: 500;
  color: $dark-dark-blue;
}

.medication-instructions {
  color: $dark-gray;
}

.medication-date {
  color: $light-blue;
  margin-top: 1rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.medication-status {
  white-space: nowrap;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  background-color: $light-light-blue;
  flex: 0.8;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;

  h3 {
    margin: 0;
  }
}
