<div class="title">
  <h1 *ngIf="!isAdmin">{{me?.name}} {{me?.surname}}</h1>
  <h1 *ngIf="isAdmin">Admin Profile</h1>
</div>
<div class="content">
  <div class="profile-image" *ngIf="!isAdmin">
    <div [ngStyle]="{'background-image': 'url(\'data:image/png;base64, ' + me?.image + '\')'}" class="avatar-image"
         mat-card-avatar>
    </div>
  </div>
  <div class="profile-image" *ngIf="isAdmin">
    <div [ngStyle]="{'background-image': 'url(https://icons.veryicon.com/png/o/miscellaneous/yuanql/icon-admin.png)'}" class="avatar-image"
         mat-card-avatar>
    </div>
  </div>
  <div class="profile-info" *ngIf="!isAdmin">
    <div class="info-cell">
      <div class="material-symbols-outlined">fingerprint</div>
      <p><span>Identifier:</span> {{me?.identifier}}</p>
    </div>
    <div class="info-cell">
      <div class="material-symbols-outlined">home</div>
      <p><span>Address:</span> {{me?.address}}</p>
    </div>
    <div class="info-cell">
      <div class="material-symbols-outlined">person</div>
      <p><span>Date of birth:</span> {{me?.birthDate | date}} </p>
    </div>
    <div class="info-cell">
      <div class="material-symbols-outlined">call</div>
      <p><span>Phone:</span> {{me?.phone}}</p>
    </div>
    <div class="info-cell">
      <div class="material-symbols-outlined">transgender</div>
      <p><span>Gender:</span> {{gender}}</p>
    </div>
    <div class="info-cell">
      <div class="material-symbols-outlined">alternate_email</div>
      <p><span>Email:</span> {{me?.email}}</p>
    </div>
    <div class="info-cell">
      <div class="material-symbols-outlined">loyalty</div>
      <p><span>Marital status:</span> {{maritalStatus}}</p>
    </div>
  </div>
  <div class="profile-info" *ngIf="isAdmin">
    <div class="info-cell">
      <div class="material-symbols-outlined">alternate_email</div>
      <p><span>Email:</span> {{adminEmail}}</p>
    </div>
  </div>
</div>
