@use '../../../../styles/variables' as *;

::ng-deep .main-window-host-wrapper{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 55px auto;
  grid-template-areas: 'breadcrumbs' 'main-window-router';
}

.main-window-router{
  height: 0;
  grid-row: 1;
}


.breadcrumbs{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 55px;
  grid-area: breadcrumbs;
  grid-row: 1;

  span{
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48 !important;
    color: $dark-dark-blue;
  }
}

p{
  margin: 0;
}

.navigation-label{
  font-family: sans-serif;
  font-weight: bolder;
  display: flex;
  align-items: flex-end;
  margin: 0;
}

.navigation-label:hover{
  cursor: pointer;
}

.home-icon:hover{
  cursor: pointer;
}

.action-button{
  text-align: end;
  flex: 1;
  margin-right: 10px;

  button{
    background-color: $accent-light-blue;
  }
}
