<div class="auth-container">
  <app-logo></app-logo>
  <div *ngIf="!isSignUp" class="form-container login-container">
    <form>
      <mat-form-field>
        <mat-icon matPrefix>
          <span class="material-symbols-outlined">person</span>
        </mat-icon>
        <input [formControl]="loginEmailCtrl" matInput placeholder="Email">
      </mat-form-field>

      <mat-form-field>
        <mat-icon matPrefix>
          <span class="material-symbols-outlined">lock</span>
        </mat-icon>
        <input [formControl]="loginPasswordCtrl" matInput placeholder="Password">
      </mat-form-field>


      <mat-error *ngIf="showErrorMessage">{{errorMessage}}</mat-error>

      <button (click)="onLogin()" color="accent" mat-raised-button type="button">Login</button>
      <div class="change-question">
        <p class="text">Doesn't have an account?</p>
        <p (click)="onChange()" class="link">Register</p>
      </div>
    </form>
  </div>
  <div *ngIf="isSignUp" class="form-container register-container">
    <form>
      <div class="name-surname-container">
        <mat-form-field>
          <input [formControl]="registerNameCtrl" matInput placeholder="Name">
          <mat-icon *ngIf="registerNameCtrl.touched && registerNameCtrl.invalid" [matTooltipClass]="'error-tooltip'"
                    class="material-symbols-outlined"
                    color="warn" matSuffix
                    matTooltip="Please enter your name.">error
          </mat-icon>
        </mat-form-field>

        <mat-form-field>
          <input [formControl]="registerSurnameCtrl" matInput placeholder="Surname">
          <mat-icon *ngIf="registerSurnameCtrl.touched && registerSurnameCtrl.invalid"
                    [matTooltipClass]="'error-tooltip'" class="material-symbols-outlined"
                    color="warn"
                    matSuffix
                    matTooltip="Please enter your surname.">error
          </mat-icon>
        </mat-form-field>
      </div>

      <mat-form-field>
        <input [formControl]="registerEmailCtrl" matInput placeholder="Email">
        <mat-icon
          *ngIf="(registerEmailCtrl.touched && registerEmailCtrl.invalid) || registerEmailCtrl.hasError('email')"
          [matTooltipClass]="'error-tooltip'" class="material-symbols-outlined"
          color="warn"
          matSuffix
          matTooltip="Please enter your email address in format: yourname@example.com.">error
        </mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input [formControl]="registerPasswordCtrl" [type]="passwordVisible ? 'text' : 'password'"
               autocomplete="new-password"
               matInput placeholder="Password">
        <div class="form-field-icons" matSuffix>
          <mat-icon
            *ngIf="(registerPasswordCtrl.touched && registerPasswordCtrl.invalid) || registerPasswordCtrl.hasError('password')"
            [matTooltipClass]="'error-tooltip'"
            class="material-symbols-outlined"
            color="warn"
            matTooltip="Please enter your email address in format: yourname@example.com.">error
          </mat-icon>
          <button (click)="passwordVisible = !passwordVisible" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="!passwordVisible"
                  mat-icon-button
                  type="button">
            <mat-icon>{{passwordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
        </div>
      </mat-form-field>

      <mat-form-field>
        <input [formControl]="registerConfirmPasswordCtrl" [type]="confirmPasswordVisible ? 'text' : 'password'"
               matInput
               placeholder="Confirm Password">
        <div class="form-field-icons" matSuffix>
          <mat-icon
            *ngIf="(registerConfirmPasswordCtrl.touched && registerConfirmPasswordCtrl.invalid) || registerConfirmPasswordCtrl.hasError('matching')"
            [matTooltipClass]="'error-tooltip'"
            class="material-symbols-outlined" color="warn"
            matTooltip="Passwords does not match!">error
          </mat-icon>
          <button (click)="confirmPasswordVisible = !confirmPasswordVisible" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="!confirmPasswordVisible" mat-icon-button
                  matSuffix
                  type="button">
            <mat-icon>{{confirmPasswordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
        </div>
      </mat-form-field>

      <mat-progress-bar *ngIf="isLoading" color="accent" mode="indeterminate"></mat-progress-bar>
      <button (click)="onRegister()" *ngIf="!isLoading" [disabled]="!registerForm.valid" color="accent"
              mat-raised-button
              type="button">
        Register
      </button>
      <div *ngIf="!isLoading" class="change-question">
        <p class="text">Already have an account?</p>
        <p (click)="onChange()" class="link">Login</p>
      </div>

    </form>
  </div>
</div>
