<h3>Recent Encounters</h3>
<div class="encounters-timeline">
    <div *ngIf="!encounters.length" class="list-item no-items">
        <div class="medication-container">
            <div class="medication-name">No encounters yet.</div>
        </div>

    </div>
    <app-timeline *ngIf="encounters.length" [events]="encounters">
        <ng-template let-event>
            <div class="timeline-container">
                <div class="specialty">{{ event.specialty }}</div>
                <div class="ago">{{ event.ago }}</div>
            </div>
        </ng-template>
    </app-timeline>
</div>
