<div class="background-container">
  <div class="left-container">
    <div class="left-color-container">
      <app-login-register (onChange)="onChange()"></app-login-register>
    </div>
  </div>
  <div class="right-container">
    <div class="right-color-container">
      <div class="image-container">
        <img src="assets/Honeycomb-Transparent%20(2).png" alt="" class="image1">
        <img src="assets/26363-PhotoRoom.png-PhotoRoom%20(1).png" alt="" class="image2">
      </div>
    </div>
  </div>
</div>
