<mat-card class="card">
  <app-logo></app-logo>
  <div class="form">
    <form>
      <mat-form-field class="example-full-width">
        <mat-icon matPrefix>
          <span class="material-symbols-outlined">person</span>
        </mat-icon>
        <input matInput placeholder="Email">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-icon matPrefix>
          <span class="material-symbols-outlined">lock</span>
        </mat-icon>
        <input matInput placeholder="Password">
      </mat-form-field>
    </form>
  </div>
  <button mat-raised-button>Sign in</button>

</mat-card>



