<div class="change-password-wrapper">
  <div class="title">
    <h3>Change email</h3>
  </div>
  <div class="content">
    <div class="profile-info">
      <div class="info-cell">
        <mat-form-field appearance="fill" class="update-info">
          <mat-label>Email</mat-label>
          <div class="material-symbols-outlined" matPrefix>alternate_email</div>
          <input [formControl]="emailCtrl" matInput>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="actions">
    <button (click)="onCancelEmail()" [disabled]="emailCtrl.value == email" color="warn" mat-flat-button>Cancel
    </button>
    <button (click)="onSaveEmail()" color="primary" mat-flat-button>Save</button>
  </div>
</div>
<div class="change-password-wrapper">
  <div class="title">
    <h3>Change password</h3>
  </div>
  <div class="content">
    <div class="profile-info">
      <div class="info-cell">
        <mat-form-field appearance="fill" class="update-info">
          <mat-label>Old Password</mat-label>
          <input [formControl]="oldPasswordCtrl" [type]="passwordVisible ? 'text' : 'password'"
                 autocomplete="new-password"
                 matInput>
          <div class="form-field-icons" matSuffix>
            <mat-icon
              *ngIf="(oldPasswordCtrl.touched && oldPasswordCtrl.invalid) || oldPasswordCtrl.hasError('password')"
              [matTooltipClass]="'error-tooltip'"
              class="material-symbols-outlined"
              color="warn"
              matTooltip="Please enter your email address in format: yourname@example.com.">error
            </mat-icon>
            <button (click)="passwordVisible = !passwordVisible" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="!passwordVisible"
                    mat-icon-button
                    type="button">
              <mat-icon>{{passwordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
            </button>
          </div>
        </mat-form-field>
      </div>
      <div class="info-cell">
        <mat-form-field appearance="fill" class="update-info">
          <mat-label>New password</mat-label>
          <input [formControl]="newPasswordCtrl" [type]="newPasswordVisible ? 'text' : 'password'"
                 autocomplete="new-password"
                 matInput>
          <div class="form-field-icons" matSuffix>
            <mat-icon
              *ngIf="(newPasswordCtrl.touched && newPasswordCtrl.invalid) || newPasswordCtrl.hasError('password')"
              [matTooltipClass]="'error-tooltip'"
              class="material-symbols-outlined"
              color="warn"
              matTooltip="Please enter your email address in format: yourname@example.com.">error
            </mat-icon>
            <button (click)="newPasswordVisible = !newPasswordVisible" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="!newPasswordVisible"
                    mat-icon-button
                    type="button">
              <mat-icon>{{newPasswordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
            </button>
          </div>
        </mat-form-field>
      </div>
      <div class="info-cell">
        <mat-form-field appearance="fill" class="update-info">
          <mat-label>Confirm new password</mat-label>
          <input [formControl]="confirmPasswordCtrl" [type]="confirmPasswordVisible ? 'text' : 'password'"
                 autocomplete="new-password"
                 matInput>
          <div class="form-field-icons" matSuffix>
            <mat-icon
              *ngIf="(confirmPasswordCtrl.touched && confirmPasswordCtrl.invalid) || confirmPasswordCtrl.hasError('password')"
              [matTooltipClass]="'error-tooltip'"
              class="material-symbols-outlined"
              color="warn"
              matTooltip="Please enter your email address in format: yourname@example.com.">error
            </mat-icon>
            <button (click)="confirmPasswordVisible = !confirmPasswordVisible" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="!confirmPasswordVisible"
                    mat-icon-button
                    type="button">
              <mat-icon>{{confirmPasswordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
            </button>
          </div>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="actions">
    <button (click)="onCancelPassword()" [disabled]="newPasswordCtrl.value == '' && oldPasswordCtrl.value == '' && confirmPasswordCtrl.value == ''" color="warn"
            mat-flat-button>
      Cancel
    </button>
    <button (click)="onSavePassword()" color="primary" mat-flat-button>Save</button>
  </div>
</div>

