@use '../../../../styles/variables' as *;

::ng-deep .change-password-host-wrapper{
  display: flex;
  overflow: auto;
  flex-direction: column;
  gap: 10px;
}

.change-password-wrapper{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
  border: 2px solid $accent-light-blue;
  border-radius: 30px;
  background-color: #fff;
}

.avatar-image{
  width: 150px;
  height: 150px;
}


.content{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.profile-info{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.info-cell{
  display: flex;
  align-items: center;
  gap: 10px;


  p span{
    font-weight: 400;
    color: $dark-gray;
  }

  p{
    font-weight: bolder;
    color: $dark-dark-blue;
  }
}


.actions{
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 20px;

}
