<div class="request-stats">
    <div (click)="onStatClick('pending')" [ngClass]="showing == 'pending'? 'selected' : ''"
         class="stat-card pending-requests">
        <span class="material-symbols-outlined stats">pending_actions</span>
        <div class="card-text">
            <div class="stat-name">Pending</div>
        </div>
    </div>
    <div (click)="onStatClick('unlimited')" [ngClass]="showing == 'unlimited'? 'selected' : ''"
         class="stat-card approved-requests">
        <span class="material-symbols-outlined stats">all_inclusive</span>
        <div class="card-text">
            <div class="stat-name">Unlimited</div>
        </div>
    </div>
    <div (click)="onStatClick('one-time')" [ngClass]="showing == 'one-time'? 'selected' : ''"
         class="stat-card denied-requests">
        <span class="material-symbols-outlined stats">device_reset</span>
        <div class="card-text">
            <div class="stat-name">One time</div>
        </div>
    </div>
    <div (click)="onStatClick('denied')" [ngClass]="showing == 'denied'? 'selected' : ''"
         class="stat-card denied-requests">
        <span class="material-symbols-outlined stats">do_not_disturb_on</span>
        <div class="card-text">
            <div class="stat-name">Denied</div>
        </div>
    </div>
</div>

<div class="recent-requests">
    <h4 *ngIf="showing == 'recent'">Recent Request Actions</h4>
    <h4 *ngIf="showing == 'approved'">Approved Requests</h4>
    <h4 *ngIf="showing == 'denied'">Denied Requests</h4>
    <h4 *ngIf="showing == 'pending'">Pending Requests</h4>

    <table *ngIf="role == 'ROLE_PATIENT'" [dataSource]="dataSource" [multiTemplateDataRows]="true"
           class="mat-elevation-z8 no-color"
           mat-table>

        <!-- Decision Column -->
        <ng-container matColumnDef="decision">
            <th *matHeaderCellDef mat-header-cell>Decision</th>
            <td *matCellDef="let request" class="decision" mat-cell>
        <span *ngIf="request.decision == DecisionEnum.UNDEFINED"
              class="material-symbols-outlined">pending_actions</span>
                <span *ngIf="request.decision == DecisionEnum.UNLIMITED"
                      class="material-symbols-outlined">all_inclusive</span>
                <span *ngIf="request.decision == DecisionEnum.ONE_TIME"
                      class="material-symbols-outlined">device_reset</span>
                <span *ngIf="request.decision == DecisionEnum.CUSTOM"
                      class="material-symbols-outlined">check_circle</span>
                <span *ngIf="request.decision == DecisionEnum.NO_ACCESS"
                      class="material-symbols-outlined">do_not_disturb_on</span>
            </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th *matHeaderCellDef mat-header-cell> Date</th>
            <td *matCellDef="let request" mat-cell>{{ request.lastUpdated | date: "MMM dd, yyyy" }}</td>
        </ng-container>

        <!-- Practitioner Column -->
        <ng-container matColumnDef="practitioner">
            <th *matHeaderCellDef mat-header-cell>Practitioner</th>
            <td *matCellDef="let request" mat-cell>{{ request.practitioner }}</td>
        </ng-container>

        <!-- Specialty Column -->
        <ng-container matColumnDef="specialty">
            <th *matHeaderCellDef mat-header-cell> Specialty</th>
            <td *matCellDef="let request" mat-cell>{{ request.specialty }}</td>
        </ng-container>

        <!-- More Column -->
        <ng-container matColumnDef="more">
            <th *matHeaderCellDef mat-header-cell> More</th>
            <td *matCellDef="let request" mat-cell>
                <button (click)="openDialog(request)" mat-raised-button>More info</button>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumnsPatient; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumnsPatient;" mat-row></tr>
    </table>
    <table *ngIf="role == 'ROLE_PRACTITIONER'" [dataSource]="dataSource" [multiTemplateDataRows]="true"
           class="mat-elevation-z8 no-color"
           mat-table>

        <!-- Decision Column -->
        <ng-container matColumnDef="decision">
            <th *matHeaderCellDef mat-header-cell>Decision</th>
            <td *matCellDef="let request" class="decision" mat-cell>
        <span *ngIf="request.decision == DecisionEnum.UNDEFINED"
              class="material-symbols-outlined">pending_actions</span>
                <span *ngIf="request.decision == DecisionEnum.UNLIMITED"
                      class="material-symbols-outlined">all_inclusive</span>
                <span *ngIf="request.decision == DecisionEnum.ONE_TIME"
                      class="material-symbols-outlined">device_reset</span>
                <span *ngIf="request.decision == DecisionEnum.CUSTOM"
                      class="material-symbols-outlined">check_circle</span>
                <span *ngIf="request.decision == DecisionEnum.NO_ACCESS"
                      class="material-symbols-outlined">do_not_disturb_on</span>
            </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th *matHeaderCellDef mat-header-cell> Date</th>
            <td *matCellDef="let request" mat-cell>{{ request.lastUpdated | date: "MMM dd, yyyy" }}</td>
        </ng-container>

        <!-- Practitioner Column -->
        <ng-container matColumnDef="patient">
            <th *matHeaderCellDef mat-header-cell>Patient</th>
            <td *matCellDef="let request" mat-cell>{{ request.patient }}</td>
        </ng-container>

        <!-- More Column -->
        <ng-container matColumnDef="more">
            <th *matHeaderCellDef mat-header-cell> More</th>
            <td *matCellDef="let request" mat-cell>
                <button (click)="openDialog(request)" mat-raised-button>More info</button>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumnsPractitioner; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumnsPractitioner;" mat-row></tr>
    </table>
    <mat-progress-bar *ngIf="loading" mode="buffer"></mat-progress-bar>
    <div *ngIf="dataSource.data.length === 0 && !loading" class="no-requests">No access requests</div>
</div>
