@use '../../../../styles/variables' as *;

::ng-deep .requests-overview-host-wrapper {
  display: flex;
  overflow: auto;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.request-stats {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.stat-card {
  display: flex;
  flex: 1;
  align-items: center;
  width: 30%;
  padding: 20px;
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
  background-color: #fff;

  .card-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    h3 {
      margin: 0;
    }

    .stat-name {
      font-size: 16px;
      color: $dark-dark-blue;

    }
  }
}

.stat-card:hover {
  cursor: pointer;
  background-color: $sidepanel;

  .card-text .stat-name {
    color: white;
  }
}

.stat-card.selected {
  cursor: pointer;
  background-color: $sidepanel;

  .card-text .stat-name {
    color: white;
  }
}

.recent-requests {
  overflow: auto;
  padding: 20px;
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: #fff;

  h4 {
    font-weight: 500;
    margin: 0;
    margin-bottom: 10px;
  }
}

.decision {
  .material-symbols-outlined {
    color: $dark-dark-blue;
    font-variation-settings: 'FILL' 1;
  }
}

.no-requests {
  color: lightgray;
  margin: 20px 0;
}

//
//table {
//  width: 100%;
//}
//
//tr.detail-row {
//  height: 0;
//}
//
//tr.element-row:not( .expanded-row ):hover {
//  background: whitesmoke;
//}
//
//tr.element-row:not( .expanded-row ):active {
//  background: #efefef;
//}
//
//.element-row td {
//  border-bottom-width: 0;
//}
//
//.element-detail {
//  display: flex;
//  overflow: hidden;
//}
//
//.actions{
//  padding: 10px;
//}
