<div class="title">
    <h1 *ngIf="role != 'ROLE_ADMIN'">{{ me?.name }} {{ me?.surname }}</h1>
    <h1 *ngIf="role == 'ROLE_ADMIN'">Admin Profile</h1>
</div>
<div class="content">
    <div *ngIf="role != 'ROLE_ADMIN'" class="profile-image">
        <div [ngStyle]="{'background-image': 'url(\'data:image/png;base64, ' + me?.image + '\')'}" class="avatar-image"
             mat-card-avatar>
        </div>
    </div>
    <div *ngIf="role == 'ROLE_ADMIN'" class="profile-image">
        <div [ngStyle]="{'background-image': 'url(https://icons.veryicon.com/png/o/miscellaneous/yuanql/icon-admin.png)'}"
             class="avatar-image"
             mat-card-avatar>
        </div>
    </div>
</div>
