<div class="header">
    <span *ngIf="type == 'NO_EDIT'"><h3>Active Conditions</h3></span>
    <!-- <span><h3>Conditions</h3></span>
    <span *ngIf="edit"><button class="small" mat-icon-button><span class="material-symbols-outlined">add</span></button></span> -->
</div>
<div class="conditions-list">
    <mat-progress-bar mode="buffer" *ngIf="loading"></mat-progress-bar>
    <div *ngFor="let condition of showingCondtions" class="list-item">
        <div class="condition-container" [ngClass]="condition.updated ? 'updated': ''">
            <div class="allergy-right-container">
                <div class="condition-name">{{ condition.code }}</div>
                <div class="condition-date">{{ condition.date | date }}</div>
            </div>
            <span><button *ngIf="type == 'EDIT'" class="small" mat-icon-button><span
                    class="material-symbols-outlined">delete</span></button></span>
        </div>
    </div>
    <div *ngIf="!showingCondtions.length && !loading" class="list-item no-items">
        <div class="medication-container">
            <div class="medication-name">No conditions right now.</div>
        </div>

    </div>
</div>
