<div class="header">
    <span><h3>Documents</h3></span>
    <span><button class="small" mat-icon-button><span class="material-symbols-outlined">add</span></button></span>
</div>
<div class="documents-list">
    <div class="list-item">
        <div class="document-container">
            <div class="document-name">fasfsafdfadfdsafdafdafdsfasdd</div>
            <div class="footer">
                <button class="small" mat-icon-button><span class="material-symbols-outlined">open_in_new</span>
                </button>
                <button class="small" mat-icon-button><span class="material-symbols-outlined">delete</span></button>
            </div>
        </div>
    </div>
</div>
