@use '../../../../variables' as *;

::ng-deep .home-host-wrapper{
  flex: 1;
  background-color: $background-light-blue;
}

.sidebar{
  grid-area: sidebar;
}

.toolbar {
  grid-area: toolbar;
}

.main-window {
  grid-area: main-window;
}

.home-container{
  display: grid;
  grid-template-areas: 'sidebar toolbar toolbar toolbar toolbar toolbar'
    'sidebar main-window main-window main-window main-window main-window';
  gap: 10px;
  grid-template-columns: 250px auto;
  grid-template-rows: 70px auto;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;

}

