@use '../../../../../../styles/variables' as *;

::ng-deep .encounters-host-wrapper {
  overflow: auto;
}

.search-container {
  grid-area: search-container;

  .form {
    display: flex;
    overflow: auto;
    flex: 1;
    align-items: baseline;
    box-sizing: border-box;
    padding: 25px;
    border-radius: 10px;
    background-color: #fff;
    gap: 1rem;

    h3 {
      margin: 0;
    }

    .material-symbols-outlined {
      padding: 6px;
      font-variation-settings: 'FILL' 1;
    }

    .flex-1 {
      flex: 1;
    }
  }
}

.documents-container {
  grid-area: documents-container;
  overflow: auto;

  .documents {
    overflow: auto;
    flex: 1;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 25px;
    border-radius: 10px;
    background-color: #fff;
    gap: 1rem;
  }
}

.range {
  width: 300px;
}

.more {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
tr.example-detail-row {
  height: 0;
}

td.mat-column-expandedDetail{
  padding: 0!important;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;    
  flex-direction: column;
  align-items: flex-start;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.expension-panel{
  width: 100%;
}