<div class="search-container">
    <div class="form">
        <h3>Search</h3>
        <mat-form-field appearance="fill" class="update-info flex-1">
            <input matInput>
            <span class="material-symbols-outlined" matSuffix>search</span>
        </mat-form-field>
        <mat-form-field appearance="fill" class="update-info range">
            <mat-date-range-input [rangePicker]="rangePicker">
                <input [formControl]="startDateCtrl" matStartDate placeholder="Start date">
                <input [formControl]="endDateCtrl" matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle [for]="rangePicker" class="small" matIconSuffix></mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker>
                <mat-date-range-picker-actions>
                    <button mat-button matDateRangePickerCancel>Cancel</button>
                    <button color="primary" mat-raised-button matDateRangePickerApply>Apply</button>
                </mat-date-range-picker-actions>
            </mat-date-range-picker>
        </mat-form-field>
    </div>
</div>
<div class="documents-container">

    <div class="documents">
        <table [dataSource]="encounters" [multiTemplateDataRows]="true" class="mat-elevation-z8 no-color" mat-table>

            <!-- Start Column -->
            <ng-container matColumnDef="start">
                <th *matHeaderCellDef mat-header-cell>Start</th>
                <td *matCellDef="let encounter" mat-cell>{{ encounter.start | date }}</td>
            </ng-container>

            <!-- Specialty Column -->
            <ng-container matColumnDef="specialty">
                <th *matHeaderCellDef mat-header-cell>Specialty</th>
                <td *matCellDef="let encounter" mat-cell>{{ encounter.specialty }}</td>
            </ng-container>

            <!-- Service Provider Column -->
            <ng-container matColumnDef="serviceProvider">
                <th *matHeaderCellDef mat-header-cell>Service Provider</th>
                <td *matCellDef="let encounter" mat-cell>{{ encounter.practitioner }}</td>
            </ng-container>

            <!-- More Column -->
            <ng-container matColumnDef="more">
                <th *matHeaderCellDef mat-header-cell> More</th>
                <td *matCellDef="let encounter" mat-cell>
                    <div class="more">
                        <button mat-icon-button matTooltip="Open encounter">
                            <span class="material-symbols-outlined">description</span>
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
        </table>
    </div>
</div>
