<!-- <div class="search-container">
    <div class="form">
        <h3>Search</h3>
        <mat-form-field appearance="fill" class="update-info flex-1">
            <input matInput>
            <span class="material-symbols-outlined" matSuffix>search</span>
        </mat-form-field>
        <mat-form-field appearance="fill" class="update-info range">
            <mat-date-range-input [rangePicker]="rangePicker">
                <input [formControl]="startDateCtrl" matStartDate placeholder="Start date">
                <input [formControl]="endDateCtrl" matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle [for]="rangePicker" class="small" matIconSuffix></mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker>
                <mat-date-range-picker-actions>
                    <button mat-button matDateRangePickerCancel>Cancel</button>
                    <button color="primary" mat-raised-button matDateRangePickerApply>Apply</button>
                </mat-date-range-picker-actions>
            </mat-date-range-picker>
        </mat-form-field>
    </div>
</div> -->
<div class="documents-container">

    <div class="documents">
        <table [dataSource]="encounters" [multiTemplateDataRows]="true" class="encounters mat-elevation-z8 no-color" mat-table>

            <!-- Date Column -->
            <ng-container matColumnDef="date">
                <th *matHeaderCellDef mat-header-cell>Date</th>
                <td *matCellDef="let encounter" mat-cell>{{ encounter.start | date }}</td>
            </ng-container>

            <!-- Time Column -->
            <ng-container matColumnDef="time">
                <th *matHeaderCellDef mat-header-cell>Time</th>
                <td *matCellDef="let encounter" mat-cell>{{ encounter.start | date: "HH:mm" }}</td>
            </ng-container>

            <!-- Specialty Column -->
            <ng-container matColumnDef="specialty">
                <th *matHeaderCellDef mat-header-cell>Specialty</th>
                <td *matCellDef="let encounter" mat-cell>{{ encounter.specialty }}</td>
            </ng-container>

            <!-- Service Provider Column -->
            <ng-container matColumnDef="serviceProvider">
                <th *matHeaderCellDef mat-header-cell>Service Provider</th>
                <td *matCellDef="let encounter" mat-cell>{{ encounter.practitioner }}</td>
            </ng-container>

            <!-- More Column -->
            <ng-container matColumnDef="more">
                <th *matHeaderCellDef mat-header-cell> More</th>
                <td *matCellDef="let encounter" mat-cell>
                    <div class="more">
                        <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === encounter ? null : encounter); $event.stopPropagation()">
                            @if (expandedElement === encounter) {
                              <mat-icon>keyboard_arrow_up</mat-icon>
                            } @else {
                              <mat-icon>keyboard_arrow_down</mat-icon>
                            }
                          </button>
                    </div>
                </td>
            </ng-container>
            
              <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                  <div class="example-element-detail"
                       [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                       
                    <mat-expansion-panel  class="expension-panel">
                        <mat-expansion-panel-header>
                          <mat-panel-title> Description </mat-panel-title>
                        </mat-expansion-panel-header>
                          {{element.description}}
                      </mat-expansion-panel>
                    <mat-expansion-panel  class="expension-panel">
                      <mat-expansion-panel-header>
                        <mat-panel-title> Summary </mat-panel-title>
                      </mat-expansion-panel-header>
                        {{element.summary}}
                    </mat-expansion-panel>
                    <mat-expansion-panel  class="expension-panel">
                        <mat-expansion-panel-header>
                        <mat-panel-title> Documents </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-documents [encounterId]="element.id"></app-documents>
                    </mat-expansion-panel>
                  </div>
                </td>
              </ng-container>

            <tr *matHeaderRowDef="columnsToDisplayWithExpand; sticky: true" mat-header-row></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
    </div>
</div>
