<div class="encounter-manager">
  <div class="timer">
    <h3>Timer</h3>
    <h3>{{display}}</h3>
  </div>
  <button mat-flat-button color="warn" (click)="stopTimer()" *ngIf="encounterStarted">Stop</button>
  <button mat-flat-button color="primary" (click)="startNow()" *ngIf="!encounterStarted">Start</button>
</div>

<div class="clinical-impression">
  <app-clinical-impression></app-clinical-impression>
</div>

<div class="documents">
  <app-documents></app-documents>
</div>

<div class="conditions">
  <app-conditions-overview [edit]="true"></app-conditions-overview>
</div>

<div class="medications">
  <app-medications-overview [edit]="true"></app-medications-overview>
</div>
