<h3>Allergies</h3>
<div class="allergies-list">
    <div *ngFor="let allergy of allergies" class="list-item">
        <div class="allergy-container">
            <span *ngIf="allergy.type == 'MEDICINE'" class="material-symbols-outlined">pill</span>
            <span *ngIf="allergy.type == 'FOOD'" class="material-symbols-outlined">fastfood</span>
            <span *ngIf="allergy.type == 'OTHER'" class="material-symbols-outlined">block</span>
            <div class="allergy-right-container">
                <div class="allergy-to">Allergy to {{ allergy.type.toLowerCase() }}</div>
                <div class="allergy-name">{{ allergy.code }}</div>
            </div>
        </div>
    </div>
    <div *ngIf="!allergies.length" class="list-item no-items">
        <div class="medication-container">
            <div class="medication-name">No allergies right now.</div>
        </div>

    </div>
</div>
