$light-blue: oklch(0.623 0.048 253.741 / 0.88);
$light-light-blue: oklch(0.876 0.035 260.388 / 0.88);
$dark-gray-background: oklch(0.81 0.02 217.17);


//$dark-blue: rgb(64 95 113);
$dark-blue: oklch(0.44 0.06 253.36);
$dark-dark-blue: rgb(16, 49, 81);
