@use 'styles/variables' as v;
@use 'styles/material' as m;
@use 'sass:map';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
@font-face {
  font-family: 'Material Symbols Outlined';
  src: url('./styles/material-symbols-outlined.woff2') format('woff2');
  font-weight: 100 700;
  font-style: normal;
  font-display: block;
}

$healthscape-blue-accent-palette: (
  50 : #e2e6ea,
  100 : #b7c1cb,
  200 : #8898a8,
  300 : #586f85,
  400 : #34506b,
  500 : #103151,
  600 : #0e2c4a,
  700 : #0c2540,
  800 : #091f37,
  900 : #051327,
  A100 : #6396ff,
  A200 : #3074ff,
  A400 : #0053fc,
  A700 : #004ae2,
  contrast: (
    50 : #000,
    100 : #000,
    200 : #000,
    300 : #fff,
    400 : #fff,
    500 : #fff,
    600 : #fff,
    700 : #fff,
    800 : #fff,
    900 : #fff,
    A100 : #000,
    A200 : #fff,
    A400 : #fff,
    A700 : #fff,
  )
);
$healthscape-primary-palette: (
  50 : #f8fbfe,
  100 : #eff4fc,
  200 : #e4edfa,
  300 : #d9e6f7,
  400 : #d0e0f6,
  500 : #c8dbf4,
  600 : #c2d7f3,
  700 : #bbd2f1,
  800 : #b4cdef,
  900 : #a7c4ec,
  A100 : #fff,
  A200 : #fff,
  A400 : #fff,
  A700 : #fff,
  contrast: (
    50 : #000,
    100 : #000,
    200 : #000,
    300 : #000,
    400 : #000,
    500 : #000,
    600 : #000,
    700 : #000,
    800 : #000,
    900 : #000,
    A100 : #000,
    A200 : #000,
    A400 : #000,
    A700 : #000,
  )
);
$healthscape-accent-palette: (
  50 : #fff7eb,
  100 : #feebce,
  200 : #fedead,
  300 : #fdd18c,
  400 : #fcc773,
  500 : #fcbd5a,
  600 : #fcb752,
  700 : #fbae48,
  800 : #fba63f,
  900 : #fa982e,
  A100 : #fff,
  A200 : #fff,
  A400 : #ffead4,
  A700 : #fdb,
  contrast: (
    50 : #000,
    100 : #000,
    200 : #000,
    300 : #000,
    400 : #000,
    500 : #000,
    600 : #000,
    700 : #000,
    800 : #000,
    900 : #000,
    A100 : #000,
    A200 : #000,
    A400 : #000,
    A700 : #000,
  )
);
$healthscape-warn-palette: (
  50 : #faecec,
  100 : #f4cfd0,
  200 : #ecafb0,
  300 : #e48e90,
  400 : #df7679,
  500 : #d95e61,
  600 : #d55659,
  700 : #cf4c4f,
  800 : #ca4245,
  900 : #c03133,
  A100 : #fff,
  A200 : #ffd3d3,
  A400 : #ffa0a1,
  A700 : #ff8688,
  contrast: (
    50 : #000,
    100 : #000,
    200 : #000,
    300 : #000,
    400 : #000,
    500 : #000,
    600 : #fff,
    700 : #fff,
    800 : #fff,
    900 : #fff,
    A100 : #000,
    A200 : #000,
    A400 : #000,
    A700 : #000,
  )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$organization-ui-primary: mat.define-palette($healthscape-primary-palette);
$organization-ui-accent: mat.define-palette($healthscape-accent-palette);
$organization-ui-blue-accent: mat.define-palette($healthscape-blue-accent-palette);

// The warn palette is optional (defaults to red).
$organization-ui-warn: mat.define-palette($healthscape-warn-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$organization-ui-theme: mat.define-light-theme((
  color: (
    primary: $organization-ui-primary,
    accent: $organization-ui-accent,
    warn: $organization-ui-warn
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($organization-ui-theme);

/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

@font-face {
  font-family: heandwritting;
  src: url('assets/Arizonia-Regular.ttf');
}

$color-config: mat.get-color-config($organization-ui-theme);
// Get the primary color palette from the color-config.
$warn-palette: map.get($color-config, 'warn');

.error-tooltip * {
  font-size: small !important;
  background-color: mat.get-color-from-palette($warn-palette) !important;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  white-space: nowrap;
  letter-spacing: normal;
  text-transform: none;
  word-wrap: normal;
  display: inline-block;
  direction: ltr;
  font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
}

.material-icons-outlined.md-36 {
  font-size: 36px;
}

.material-symbols-outlined.mdopsz-40 {
  font-variation-settings: 'opsz' 40;
}

.material-symbols-outlined.mdwght-6 {
  font-variation-settings: 'wght' 600;
}

.my-material-icon {
  vertical-align: middle;
  display: inline;
}

@font-face {
  font-family: Roboto;
  src: url('/assets/Roboto-Regular.ttf');
}

button[color='blue-accent'].mat-mdc-unelevated-button:not( :disabled ) {
  color: #fff;
  background-color: #103151;
}
