@use 'variables' as v;
@use 'sass:map';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$healthscape-green-palette: (
  50 : #e2eae9,
  100 : #b7cbc8,
  200 : #88a8a3,
  300 : #58857e,
  400 : #346b62,
  500 : #105146,
  600 : #0e4a3f,
  700 : #0c4037,
  800 : #09372f,
  900 : #052720,
  A100 : #63ffd8,
  A200 : #30ffcb,
  A400 : #00fcbc,
  A700 : #00e2a9,
  contrast: (
    50 : #000,
    100 : #000,
    200 : #000,
    300 : #fff,
    400 : #fff,
    500 : #fff,
    600 : #fff,
    700 : #fff,
    800 : #fff,
    900 : #fff,
    A100 : #000,
    A200 : #000,
    A400 : #000,
    A700 : #000,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$organization-ui-primary: mat.define-palette($healthscape-green-palette);
$organization-ui-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$organization-ui-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$organization-ui-theme: mat.define-light-theme((
  color: (
    primary: $organization-ui-primary,
    accent: $organization-ui-accent,
    warn: $organization-ui-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($organization-ui-theme);

/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

@font-face {
  font-family: heandwritting;
  src: url('Arizonia-Regular.ttf');
}

$color-config: mat.get-color-config($organization-ui-theme);
// Get the primary color palette from the color-config.
$warn-palette: map.get($color-config, 'warn');

.error-tooltip * {
  font-size: small !important;
  background-color: mat.get-color-from-palette($warn-palette) !important;
}

/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  src: url('https://fonts.gstatic.com/s/materialsymbolsoutlined/v39/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2') format('woff2');
  font-weight: 100 700;
  font-style: normal;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  white-space: nowrap;
  letter-spacing: normal;
  text-transform: none;
  word-wrap: normal;
  display: inline-block;
  direction: ltr;
  font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
}

.material-icons-outlined.md-36 {
  font-size: 36px;
}

.material-symbols-outlined.mdopsz-40 {
  font-variation-settings: 'opsz' 40;
}

.material-symbols-outlined.mdwght-6 {
  font-variation-settings: 'wght' 600;
}

.my-material-icon {
  vertical-align: middle;
  display: inline;
}
