<div class="timeline">
    <div *ngFor="let event of events" class="timeline-event">
        <div class="timeline-event-separator">

            <div class="start-line"></div>
            <div class="event-marker"></div>
            <div class="end-line"></div>
        </div>
        <div class="timeline-content">
            <ng-container [ngTemplateOutletContext]="{ $implicit: event }"
                          [ngTemplateOutlet]="customTemplate"></ng-container>
        </div>
    </div>
</div>

