@use '../../../../styles/variables' as *;

::ng-deep .account-settings-host-wrapper{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.action{
  color: $dark-gray;
  display: flex;
  align-self: end;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  transition: all 0.5s ease-in-out;
  border: 2px solid $accent-light-blue;
  border-radius: 10px;
  background-color: rgba(200,219,244,0.2);
  gap: 10px;

  p{
    margin: 0;
  }
}

.action:hover{
  font-weight: 500;
  width: 99%;
  cursor: pointer;
  background-color: rgba(200,219,244,1);

  span{
    font-variation-settings: 'wght' 700;
  }
}
