<app-patient-record-toolbar (tabChanged)="onTabChanged($event)" [encounterStarted]="encounterStarted"
                            class="toolbar"></app-patient-record-toolbar>

<app-record-overview *ngIf="currentTab == 'overview'" class="content"></app-record-overview>
<app-demographics *ngIf="currentTab == 'demographics'" class="content"></app-demographics>
<app-medications *ngIf="currentTab == 'medications'" class="content"></app-medications>
<app-documents *ngIf="currentTab == 'documents'" class="content"></app-documents>
<app-encounters *ngIf="currentTab == 'encounters'" class="content"></app-encounters>
<app-current-encounter *ngIf="currentTab == 'current-encounter'" [encounterStarted]="encounterStarted"
                       [startedAt]="startedAt"
                       class="content"></app-current-encounter>
